In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
pd.options.display.float_format = '${:,.2f}'.format

In [2]:
# File to Load
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#Display first five columns
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

In [3]:
#    PLAYER COUNT

#Display the total number of players
player_count = [len(purchase_data["SN"].unique())]

# Create the pandas DataFrame 
player_count_df = pd.DataFrame(player_count, columns = ['Total Players'])

# print dataframe
player_count_df

   Total Players
0            576

In [4]:
#     PURCHASING ANALYSIS (TOTAL)

# Run basic calculations to obtain number of unique items, average price, etc.
#Optional: give the displayed data cleaner formatting

item_count = len(purchase_data["Item Name"].unique())
avg_price= '$' + str(round(purchase_data["Price"].mean(),2))
purchase_count = purchase_data["Purchase ID"].count()
total_revenue = '$' + str(round(sum(purchase_data["Price"]),2))

In [5]:
#Create a summary data frame to hold the results
summary = [[item_count, avg_price, purchase_count, total_revenue]]
summary_df = pd.DataFrame(summary, columns = [
    'Number of Unique Items', 
    'Average Price', 
    'Number of Purchases', 
    'Total Revenue'
    ]
)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [6]:
# Using GroupBy in order to separate the data into fields according to "SN" values
SN_groups = purchase_data.groupby(['SN'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
#print(SN_groups)

# In order to be visualized, a data function must be used...
SN_groups.groups

{'Adairialis76': [467], 'Adastirin33': [142], 'Aeda94': [388], 'Aela59': [28], 'Aelaria33': [630], 'Aelastirin39': [218, 766], 'Aelidru27': [705], 'Aelin32': [52, 87, 584], 'Aelly27': [43, 428], 'Aellynun67': [286], 'Aellyria80': [746], 'Aelollo59': [203, 431], 'Aenarap34': [183], 'Aeral43': [263], 'Aeral68': [674], 'Aeral97': [167], 'Aeralria27': [32], 'Aeralstical35': [583], 'Aeri84': [303], 'Aerillorin70': [381], 'Aerithllora36': [274, 578], 'Aerithnucal56': [324], 'Aerithnuphos61': [517], 'Aerithriaphos45': [40], 'Aerithriaphos46': [236], 'Aesri53': [541], 'Aesty53': [124, 253], 'Aestysu37': [309, 416], 'Aesur96': [468], 'Aesurstilis64': [405], 'Aethedru70': [775], 'Aidai53': [219], 'Aidai61': [282], 'Aidai73': [720], 'Aidaillodeu39': [42, 146], 'Aidain51': [516], 'Aidaira26': [730], 'Aiduecal76': [97, 670], 'Aiduesu86': [429], 'Aillyriadru65': [523], 'Aillyrin83': [155], 'Aina42': [83, 363, 373], 'Aina43': [94], 'Airi27': [637], 'Aisur51': [184], 'Aisurdru79': [440, 618], 'Aisurria69': [423], 'Aithelis62': [703, 760], 'Alaephos75': [295], 'Alaesu77': [494], 'Alaesu91': [285], 'Alarap40': [391], 'Ali84': [360, 635], 'Alim85': [226], 'Alo38': [63], 'Anallorgue57': [272, 311], 'Ardcil81': [398, 544], 'Ardonmol96': [566], 'Arin32': [627, 734], 'Arirgue63': [470], 'Assassa81': [631], 'Assassasta79': [270, 768], 'Assastnya25': [565], 'Assehoan67': [258], 'Assesi91': [420], 'Assilsan72': [666], 'Assim27': [761], 'Assirra56': [587], 'Assistasda42': [73, 351], 'Assistasda90': [460], 'Assjaskan56': [79], 'Assjaskan73': [13], 'Assosia88': [41], 'Assylla81': [729], 'Asty82': [680], 'Asur53': [390, 762, 772], 'Asur96': [48], 'Baelollodeu94': [178, 569], 'Bartassaya73': [387, 644], 'Caesrinusuir82': [171, 671], 'Ceoral34': [329], 'Chadadarla74': [310, 614], 'Chadilsasta32': [331, 343], 'Chadirra90': [359], 'Chadista79': [186, 506], 'Chadistaya75': [92], 'Chadjask77': [686], 'Chadjask85': [647], 'Chadolyla44': [91, 198, 711], 'Chadossa56': [570], 'Chadossa89': [98], 'Chamadar79': [262], 'Chamadarnya73': [458], 'Chamadarsda63': [642], 'Chamalo71': [19], 'Chamassasya86': [3], 'Chamast86': [653], 'Chamastya76': [307], 'Chamilsala65': [347, 504], 'Chamiman85': [733], ...}

In [7]:
len(SN_groups)

576

In [8]:
cut_df = purchase_data.drop_duplicates("SN")
len(cut_df)

576

In [9]:
#     GENDER DEMOGRAPHICS

# Calculate count for each gender
male_count = 0
female_count = 0
other_count = 0

for gender in cut_df["Gender"]:
    if gender == "Male":
        male_count += 1
    if gender == "Female":
        female_count += 1
    if gender == "Other / Non-Disclosed":
        other_count += 1
    else: False
        
#Percentage and Count of Male Players
male_perc = str(round((male_count / len(cut_df) * 100), 2)) + "%"
#Percentage and Count of Female Players
female_perc = str(round((female_count / len(cut_df) * 100), 2)) + "%"
#Percentage and Count of Other / Non-Disclosed
other_perc = str(round((other_count / len(cut_df) * 100), 2)) + "%"

In [10]:
# initialise data of lists. 
data = {'Total Count':[male_count, female_count, other_count], 'Percentage of Players':[male_perc, female_perc, other_perc]} 
  
# Creates pandas DataFrame. 
df = pd.DataFrame(data, index =['Male', 'Female', 'Other / Non-Disclosed']) 
  
# print the data 
df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [11]:
price_data = purchase_data.groupby(["Gender"])

# Calculate purchase count for each gender

total_purchases = price_data.count()["Price"]
total_purchases

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [12]:
# Average Purchase Price for each gender

average_purchase_price = price_data.mean()["Price"].round(2)
average_purchase_price

Gender
Female                  $3.20
Male                    $3.02
Other / Non-Disclosed   $3.35
Name: Price, dtype: float64

In [13]:
# Calculate total purchase prices for each gender
total_spent = price_data.sum()["Price"]
total_spent

Gender
Female                    $361.94
Male                    $1,967.64
Other / Non-Disclosed      $50.19
Name: Price, dtype: float64

In [14]:
# Calculate Avg Total Purchase per Person for each gender
Total_Count = df["Total Count"]
avg_total_purchase = total_spent.divide(Total_Count).round(2)
avg_total_purchase

Female                  $4.47
Male                    $4.07
Other / Non-Disclosed   $4.56
dtype: float64

In [15]:
# initialise data of lists. 
data2 = {
    "Purchase Count":total_purchases, 
    "$""Average Purchase Price":average_purchase_price, 
    "Total Purchase Value":total_spent,
    "Avg Total Purchase per Person":avg_total_purchase
} 

# Creates pandas DataFrame. 
df2 = pd.DataFrame(data2, index =['Male', 'Female', 'Other / Non-Disclosed']) 
  
# print the data 
df2

,Purchase Count,$Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [16]:
# PURCHASING ANALYSIS (Gender)
summary2_df = summary_df[["Number of Purchases", "Average Price", "Total Revenue"]]
summary_renamed = summary2_df.rename(columns={
    "Number of Purchases": "Purchase Count", 
    "Average Price": "Average Purchase Price", 
    "Total Revenue": "Total Purchase Value"}
                                    )
summary_renamed

   Purchase Count Average Purchase Price Total Purchase Value
0             780                  $3.05             $2379.77

In [17]:
#AGE DEMOGRAPHICS
 
#Establish bins for ages
bins = [0,9,14,19,24,29,34,39,200]
labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
#Categorize the existing players using the age bins. Hint: use pd.cut()
cut_copy = cut_df.copy(deep=True)
cut_copy['Age Group'] = pd.cut(cut_copy['Age'], bins=bins, labels=labels)

#Calculate the numbers and percentages by age group

age_group = cut_copy.groupby('Age Group')
age_group_df = age_group.count()
Total_Age_Count = age_group_df['Age']

perc_age = (Total_Age_Count / len(cut_df)) * 100
perc_age

#Create a summary data frame to hold the results
data3 = {
    "Total Count":Total_Age_Count, 
    "Percentage of Players":perc_age
} 

age_summary_df = pd.DataFrame(data3, index = labels) 
age_summary_df['Percentage of Players'] = age_summary_df['Percentage of Players'].map('{:,.2f}%'.format)
#Optional: round the percentage column to two decimal points


#Display Age Demographics Table
age_summary_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [18]:
#PURCHASING ANALYSIS (Age)
 
#Bin the purchase_data data frame by age
    #Done in previou steps

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
clean_data_age_group_df = cut_copy.groupby('Age Group')
purchase_count_age_group = clean_data_age_group_df.count()['Price']
average_purchase_age_group = clean_data_age_group_df.mean()['Price']
purchase_total_age_group = clean_data_age_group_df.sum()['Price']
avg_total_purchase = purchase_total_age_group.divide(Total_Age_Count).round(2)

purchase_analysis = {
    "Purchase Count":purchase_count_age_group, 
    "$""Average Purchase Price":average_purchase_age_group, 
    "Total Purchase Value":purchase_total_age_group,
    "Avg Total Purchase per Person":avg_total_purchase
} 

# Creates pandas DataFrame. 
purchase_analysis_df = pd.DataFrame(purchase_analysis, index =labels) 

#Display the summary data frame
purchase_analysis_df

,Purchase Count,$Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,17,$3.39,$57.63,$3.39
10-14,22,$3.07,$67.64,$3.07
15-19,107,$3.10,$331.88,$3.10
20-24,258,$3.06,$790.39,$3.06
25-29,77,$2.91,$223.93,$2.91
30-34,52,$2.92,$151.92,$2.92
35-39,31,$3.51,$108.81,$3.51
40+,12,$3.04,$36.45,$3.04

In [19]:
#TOP SPENDERS



#Run basic calculations to obtain the results in the table below
top_spenders_group_by_df = purchase_data.groupby('SN')

#Create a summary data frame to hold the results
purchase_count_top = top_spenders_group_by_df.count()['Price']
average_purchase_top = top_spenders_group_by_df.mean()['Price']
purchase_total_top = top_spenders_group_by_df.sum()['Price']
top_spenders_object = {
    "Purchase Count":purchase_count_top, 
    "$""Average Purchase Price":average_purchase_top, 
    "Total Purchase Value":purchase_total_top
} 

# Creates pandas DataFrame. 
top_spenders_df = pd.DataFrame(top_spenders_object) 

#Sort the total purchase value column in descending order
sorted_top_spenders_df = top_spenders_df.sort_values(by=['Total Purchase Value'], ascending=False)

#Optional: give the displayed data cleaner formatting

#Display a preview of the summary data frame
sorted_top_spenders_df.head(5)

             Purchase Count  $Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    $3.79                $18.96
Idastidru52               4                    $3.86                $15.45
Chamjask73                3                    $4.61                $13.83
Iral74                    4                    $3.40                $13.62
Iskadarya95               3                    $4.37                $13.10

In [20]:
#Most Popular Items
 
#Retrieve the Item ID, Item Name, and Item Price columns
temp_popular_items = {
    "Item ID": purchase_data['Item ID'],
    "Item Name": purchase_data['Item Name'],
    "Item Price": purchase_data['Price'],
}
temp_popular_items_df = pd.DataFrame(temp_popular_items)

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
group_by_items = temp_popular_items_df.groupby(['Item ID', 'Item Name'])

#Purchase Count
purchase_count_popular_items = group_by_items.size()
#Item Price
purchase_price_popular_items = group_by_items.mean()['Item Price']
#Total Purchase Value
total_purchase_value_items = group_by_items.sum()['Item Price']

#Create a summary data frame to hold the results
popular_items = {
    "Purchase Count": purchase_count_popular_items,
    "Item Price": purchase_price_popular_items,
    "Total Purchase Value": total_purchase_value_items
}
popular_items_df = pd.DataFrame(popular_items)

#Sort the purchase count column in descending order
sorted_popular_items_df = popular_items_df.sort_values(by=['Purchase Count'], ascending=False)

#Optional: give the displayed data cleaner formatting


#Display a preview of the summary data frame
sorted_popular_items_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [21]:
#Most Profitable Items
 
#Sort the above table by total purchase value in descending order
most_profitable_items_df = popular_items_df.sort_values(by=['Total Purchase Value'], ascending=False)
#Purchase Count
#Item Price
#Total Purchase Value

#Optional: give the displayed data cleaner formatting


#Display a preview of the data frame
most_profitable_items_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80