In [72]:
# Dependencies and Setup
import pandas as pd
import numpy as np
pd.options.display.float_format = '${:,.2f}'.format

In [79]:
# File to Load
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#Display first five columns
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

In [5]:
#    PLAYER COUNT

#Display the total number of players
player_count = [len(purchase_data["SN"].unique())]

# Create the pandas DataFrame 
player_count_df = pd.DataFrame(player_count, columns = ['Total Players'])

# print dataframe
player_count_df

   Total Players
0            576

In [6]:
#     PURCHASING ANALYSIS (TOTAL)

# Run basic calculations to obtain number of unique items, average price, etc.
#Optional: give the displayed data cleaner formatting

item_count = len(purchase_data["Item Name"].unique())
avg_price= '$' + str(round(purchase_data["Price"].mean(),2))
purchase_count = purchase_data["Purchase ID"].count()
total_revenue = '$' + str(round(sum(purchase_data["Price"]),2))

In [7]:
#Create a summary data frame to hold the results
summary = [[item_count, avg_price, purchase_count, total_revenue]]
summary_df = pd.DataFrame(summary, columns = [
    'Number of Unique Items', 
    'Average Price', 
    'Number of Purchases', 
    'Total Revenue'
    ]
)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [8]:
# Using GroupBy in order to separate the data into fields according to "SN" values
SN_groups = purchase_data.groupby(['SN'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
#print(SN_groups)

# In order to be visualized, a data function must be used...
SN_groups.groups

{'Adairialis76': Int64Index([467], dtype='int64'),
 'Adastirin33': Int64Index([142], dtype='int64'),
 'Aeda94': Int64Index([388], dtype='int64'),
 'Aela59': Int64Index([28], dtype='int64'),
 'Aelaria33': Int64Index([630], dtype='int64'),
 'Aelastirin39': Int64Index([218, 766], dtype='int64'),
 'Aelidru27': Int64Index([705], dtype='int64'),
 'Aelin32': Int64Index([52, 87, 584], dtype='int64'),
 'Aelly27': Int64Index([43, 428], dtype='int64'),
 'Aellynun67': Int64Index([286], dtype='int64'),
 'Aellyria80': Int64Index([746], dtype='int64'),
 'Aelollo59': Int64Index([203, 431], dtype='int64'),
 'Aenarap34': Int64Index([183], dtype='int64'),
 'Aeral43': Int64Index([263], dtype='int64'),
 'Aeral68': Int64Index([674], dtype='int64'),
 'Aeral97': Int64Index([167], dtype='int64'),
 'Aeralria27': Int64Index([32], dtype='int64'),
 'Aeralstical35': Int64Index([583], dtype='int64'),
 'Aeri84': Int64Index([303], dtype='int64'),
 'Aerillorin70': Int64Index([381], dtype='int64'),
 'Aerithllora36': Int64Index([274, 578], dtype='int64'),
 'Aerithnucal56': Int64Index([324], dtype='int64'),
 'Aerithnuphos61': Int64Index([517], dtype='int64'),
 'Aerithriaphos45': Int64Index([40], dtype='int64'),
 'Aerithriaphos46': Int64Index([236], dtype='int64'),
 'Aesri53': Int64Index([541], dtype='int64'),
 'Aesty53': Int64Index([124, 253], dtype='int64'),
 'Aestysu37': Int64Index([309, 416], dtype='int64'),
 'Aesur96': Int64Index([468], dtype='int64'),
 'Aesurstilis64': Int64Index([405], dtype='int64'),
 'Aethedru70': Int64Index([775], dtype='int64'),
 'Aidai53': Int64Index([219], dtype='int64'),
 'Aidai61': Int64Index([282], dtype='int64'),
 'Aidai73': Int64Index([720], dtype='int64'),
 'Aidaillodeu39': Int64Index([42, 146], dtype='int64'),
 'Aidain51': Int64Index([516], dtype='int64'),
 'Aidaira26': Int64Index([730], dtype='int64'),
 'Aiduecal76': Int64Index([97, 670], dtype='int64'),
 'Aiduesu86': Int64Index([429], dtype='int64'),
 'Aillyriadru65': Int64Index([523], dtype='int64'),
 'Aillyrin83': Int64Index([155], dtype='int64'),
 'Aina42': Int64Index([83, 363, 373], dtype='int64'),
 'Aina43': Int64Index([94], dtype='int64'),
 'Airi27': Int64Index([637], dtype='int64'),
 'Aisur51': Int64Index([184], dtype='int64'),
 'Aisurdru79': Int64Index([440, 618], dtype='int64'),
 'Aisurria69': Int64Index([423], dtype='int64'),
 'Aithelis62': Int64Index([703, 760], dtype='int64'),
 'Alaephos75': Int64Index([295], dtype='int64'),
 'Alaesu77': Int64Index([494], dtype='int64'),
 'Alaesu91': Int64Index([285], dtype='int64'),
 'Alarap40': Int64Index([391], dtype='int64'),
 'Ali84': Int64Index([360, 635], dtype='int64'),
 'Alim85': Int64Index([226], dtype='int64'),
 'Alo38': Int64Index([63], dtype='int64'),
 'Anallorgue57': Int64Index([272, 311], dtype='int64'),
 'Ardcil81': Int64Index([398, 544], dtype='int64'),
 'Ardonmol96': Int64Index([566], dtype='int64'),
 'Arin32': Int64Index([627, 734], dtype='int64'),
 'Arirgue63': Int64Index([470], dtype='int64'),
 'Assassa81': Int64Index([631], dtype='int64'),
 'Assassasta79': Int64Index([270, 768], dtype='int64'),
 'Assastnya25': Int64Index([565], dtype='int64'),
 'Assehoan67': Int64Index([258], dtype='int64'),
 'Assesi91': Int64Index([420], dtype='int64'),
 'Assilsan72': Int64Index([666], dtype='int64'),
 'Assim27': Int64Index([761], dtype='int64'),
 'Assirra56': Int64Index([587], dtype='int64'),
 'Assistasda42': Int64Index([73, 351], dtype='int64'),
 'Assistasda90': Int64Index([460], dtype='int64'),
 'Assjaskan56': Int64Index([79], dtype='int64'),
 'Assjaskan73': Int64Index([13], dtype='int64'),
 'Assosia88': Int64Index([41], dtype='int64'),
 'Assylla81': Int64Index([729], dtype='int64'),
 'Asty82': Int64Index([680], dtype='int64'),
 'Asur53': Int64Index([390, 762, 772], dtype='int64'),
 'Asur96': Int64Index([48], dtype='int64'),
 'Baelollodeu94': Int64Index([178, 569], dtype='int64'),
 'Bartassaya73': Int64Index([387, 644], dtype='int64'),
 'Caesrinusuir82': Int64Index([171, 671], dtype='int64'),
 'Ceoral34': Int64Index([329], dtype='int64'),
 'Chadadarla74': Int64Index([310, 614], dtype='int64'),
 'Chadilsasta32': Int64Index([331, 343], dtype='int64'),
 'Chadirra90': Int64Index([359], dtype='int64'),
 'Chadista79': Int64Index([186, 506], dtype='int64'),
 'Chadistaya75': Int64Index([92], dtype='int64'),
 'Chadjask77': Int64Index([686], dtype='int64'),
 'Chadjask85': Int64Index([647], dtype='int64'),
 'Chadolyla44': Int64Index([91, 198, 711], dtype='int64'),
 'Chadossa56': Int64Index([570], dtype='int64'),
 'Chadossa89': Int64Index([98], dtype='int64'),
 'Chamadar79': Int64Index([262], dtype='int64'),
 'Chamadarnya73': Int64Index([458], dtype='int64'),
 'Chamadarsda63': Int64Index([642], dtype='int64'),
 'Chamalo71': Int64Index([19], dtype='int64'),
 'Chamassasya86': Int64Index([3], dtype='int64'),
 'Chamast86': Int64Index([653], dtype='int64'),
 'Chamastya76': Int64Index([307], dtype='int64'),
 'Chamilsala65': Int64Index([347, 504], dtype='int64'),
 'Chamiman85': Int64Index([733], dtype='int64'),
 'Chamimla73': Int64Index([176], dtype='int64'),
 'Chamimla85': Int64Index([204, 234, 617], dtype='int64'),
 'Chamirra53': Int64Index([145, 256], dtype='int64'),
 'Chamirrasya33': Int64Index([384, 404], dtype='int64'),
 'Chamirraya83': Int64Index([65], dtype='int64'),
 'Chamistast30': Int64Index([664], dtype='int64'),
 'Chamjask73': Int64Index([222, 520, 564], dtype='int64'),
 'Chamjaskya75': Int64Index([611], dtype='int64'),
 'Chamossa77': Int64Index([433], dtype='int64'),
 'Chanadar44': Int64Index([538], dtype='int64'),
 'Chanastnya43': Int64Index([507, 561, 633], dtype='int64'),
 'Chanastsda67': Int64Index([66], dtype='int64'),
 'Chanastst38': Int64Index([164, 744], dtype='int64'),
 'Chanastya70': Int64Index([300], dtype='int64'),
 'Chanilsasda38': Int64Index([668], dtype='int64'),
 'Chanilsast61': Int64Index([717], dtype='int64'),
 'Chanirra64': Int64Index([622], dtype='int64'),
 'Chanirra79': Int64Index([586], dtype='int64'),
 'Chanirrala39': Int64Index([585, 636], dtype='int64'),
 'Chanirrasta87': Int64Index([493], dtype='int64'),
 'Chanista95': Int64Index([745], dtype='int64'),
 'Chanjask65': Int64Index([448], dtype='int64'),
 'Chanjaskan89': Int64Index([153, 479], dtype='int64'),
 'Chanosia34': Int64Index([51], dtype='int64'),
 'Chanosia60': Int64Index([201, 700], dtype='int64'),
 'Chanosian48': Int64Index([9, 484], dtype='int64'),
 'Chanosiaya39': Int64Index([728], dtype='int64'),
 'Chanossanya44': Int64Index([706, 749], dtype='int64'),
 'Chanossast57': Int64Index([446], dtype='int64'),
 'Chanuchi25': Int64Index([47], dtype='int64'),
 'Cosadar58': Int64Index([217], dtype='int64'),
 'Dyally87': Int64Index([554], dtype='int64'),
 'Ealiril69': Int64Index([687], dtype='int64'),
 'Ealrion88': Int64Index([221], dtype='int64'),
 'Ennalmol65': Int64Index([277], dtype='int64'),
 'Ennoncil86': Int64Index([395], dtype='int64'),
 'Ennrian78': Int64Index([461, 779], dtype='int64'),
 'Eodailis27': Int64Index([239, 367], dtype='int64'),
 'Eodairu79': Int64Index([501], dtype='int64'),
 'Eodaisu60': Int64Index([242], dtype='int64'),
 'Eolan54': Int64Index([459], dtype='int64'),
 'Eoral49': Int64Index([634], dtype='int64'),
 'Eoralrap26': Int64Index([89], dtype='int64'),
 'Eosrirgue62': Int64Index([211], dtype='int64'),
 'Eosurdru76': Int64Index([539], dtype='int64'),
 'Eratiel90': Int64Index([757], dtype='int64'),
 'Ermol76': Int64Index([495], dtype='int64'),
 'Errian63': Int64Index([485], dtype='int64'),
 'Eryon48': Int64Index([532], dtype='int64'),
 'Ethralista69': Int64Index([449], dtype='int64'),
 'Ethrasyon38': Int64Index([656], dtype='int64'),
 'Ethriel85': Int64Index([135], dtype='int64'),
 'Ethron58': Int64Index([368], dtype='int64'),
 'Eudanu32': Int64Index([451], dtype='int64'),
 'Eudanu84': Int64Index([731], dtype='int64'),
 'Eulae84': Int64Index([457], dtype='int64'),
 'Eulaestira36': Int64Index([288, 348], dtype='int64'),
 'Eulanurin88': Int64Index([105], dtype='int64'),
 'Eulasuir89': Int64Index([209], dtype='int64'),
 'Eulolis41': Int64Index([510], dtype='int64'),
 'Eurisuru25': Int64Index([638], dtype='int64'),
 'Eurithphos97': Int64Index([486, 732], dtype='int64'),
 'Eusri26': Int64Index([397], dtype='int64'),
 'Eusri44': Int64Index([27], dtype='int64'),
 'Eusri70': Int64Index([422, 519], dtype='int64'),
 'Eustyria89': Int64Index([648], dtype='int64'),
 'Eusur90': Int64Index([738], dtype='int64'),
 'Eusurdeu49': Int64Index([371, 715], dtype='int64'),
 'Euthe35': Int64Index([453], dtype='int64'),
 'Eyircil84': Int64Index([473], dtype='int64'),
 'Eyista89': Int64Index([143], dtype='int64'),
 'Eyrian71': Int64Index([23, 156], dtype='int64'),
 'Farrian71': Int64Index([605], dtype='int64'),
 'Farusrian86': Int64Index([31], dtype='int64'),
 'Filrion59': Int64Index([594], dtype='int64'),
 'Filrion83': Int64Index([632], dtype='int64'),
 'Filurarn35': Int64Index([577], dtype='int64'),
 'Firan91': Int64Index([284], dtype='int64'),
 'Firatan58': Int64Index([693], dtype='int64'),
 'Firon67': Int64Index([498], dtype='int64'),
 'Fironon91': Int64Index([173], dtype='int64'),
 'Frichadar89': Int64Index([403], dtype='int64'),
 'Frichadaran88': Int64Index([301, 463], dtype='int64'),
 'Frichast28': Int64Index([194], dtype='int64'),
 'Frichaststa61': Int64Index([117], dtype='int64'),
 'Frichaya88': Int64Index([557], dtype='int64'),
 'Frichilsa31': Int64Index([743], dtype='int64'),
 'Frichim77': Int64Index([103, 126], dtype='int64'),
 'Frichirranya75': Int64Index([753], dtype='int64'),
 'Frichjask31': Int64Index([191], dtype='int64'),
 'Frichjaskan98': Int64Index([361], dtype='int64'),
 'Frichocesta66': Int64Index([502, 556], dtype='int64'),
 'Frichosia58': Int64Index([119], dtype='int64'),
 'Frichosiala98': Int64Index([437], dtype='int64'),
 'Frichossala54': Int64Index([610], dtype='int64'),
 'Frichynde86': Int64Index([430], dtype='int64'),
 'Hada39': Int64Index([345, 533, 628], dtype='int64'),
 'Haedairiadru51': Int64Index([378], dtype='int64'),
 'Haeladil46': Int64Index([227], dtype='int64'),
 'Haellysu29': Int64Index([259], dtype='int64'),
 'Haerith37': Int64Index([45], dtype='int64'),
 'Haerithp41': Int64Index([82], dtype='int64'),
 'Haestyphos66': Int64Index([643], dtype='int64'),
 'Hailaphos89': Int64Index([147], dtype='int64'),
 'Haillyrgue51': Int64Index([33, 78, 515], dtype='int64'),
 'Haisrisuir60': Int64Index([11, 99], dtype='int64'),
 'Haisurra41': Int64Index([206], dtype='int64'),
 'Hala31': Int64Index([773], dtype='int64'),
 'Halaecal66': Int64Index([598, 685], dtype='int64'),
 'Hallysucal81': Int64Index([375], dtype='int64'),
 'Hari50': Int64Index([71, 140], dtype='int64'),
 'Hariphos58': Int64Index([665], dtype='int64'),
 'Heollyra92': Int64Index([271], dtype='int64'),
 'Heollyriap59': Int64Index([101], dtype='int64'),
 'Heosurnuru52': Int64Index([169, 297], dtype='int64'),
 'Heudai45': Int64Index([81], dtype='int64'),
 'Heuli25': Int64Index([357, 369], dtype='int64'),
 'Heunadil74': Int64Index([402], dtype='int64'),
 'Hiaral50': Int64Index([441, 552, 599], dtype='int64'),
 'Hiarideu73': Int64Index([393], dtype='int64'),
 'Hiasri33': Int64Index([189, 325], dtype='int64'),
 'Hiasurria41': Int64Index([341], dtype='int64'),
 'Hilaerin92': Int64Index([330], dtype='int64'),
 'Hiral75': Int64Index([385], dtype='int64'),
 'Hirirap39': Int64Index([109, 366], dtype='int64'),
 'Hisridru55': Int64Index([432], dtype='int64'),
 'Hyaduesu61': Int64Index([154], dtype='int64'),
 'Iadueria43': Int64Index([499], dtype='int64'),
 'Ialallo29': Int64Index([199, 215, 683], dtype='int64'),
 'Ialidru40': Int64Index([314], dtype='int64'),
 'Iana95': Int64Index([534], dtype='int64'),
 'Iarallo65': Int64Index([443], dtype='int64'),
 'Iaralrgue74': Int64Index([49, 419], dtype='int64'),
 'Iaralsuir44': Int64Index([214, 503], dtype='int64'),
 'Iarilis73': Int64Index([424, 679], dtype='int64'),
 'Iasrira89': Int64Index([313, 559], dtype='int64'),
 'Iasur80': Int64Index([251, 713], dtype='int64'),
 'Iasurriacal29': Int64Index([591], dtype='int64'),
 'Iasursti71': Int64Index([304], dtype='int64'),
 'Iathem87': Int64Index([590], dtype='int64'),
 'Iathenudil29': Int64Index([20], dtype='int64'),
 'Idacal95': Int64Index([673], dtype='int64'),
 'Idai61': Int64Index([30, 370, 407], dtype='int64'),
 'Idaidil28': Int64Index([406, 690], dtype='int64'),
 'Idairin51': Int64Index([237, 291], dtype='int64'),
 'Idaisuir85': Int64Index([36], dtype='int64'),
 'Idastidru52': Int64Index([290, 490, 543, 676], dtype='int64'),
 'Iduelis31': Int64Index([726], dtype='int64'),
 'Iduenu77': Int64Index([333], dtype='int64'),
 'Ilaesudil92': Int64Index([513], dtype='int64'),
 'Ilarin91': Int64Index([352, 400, 722], dtype='int64'),
 'Ilassa51': Int64Index([576], dtype='int64'),
 'Ilassast39': Int64Index([95], dtype='int64'),
 'Ilast79': Int64Index([756], dtype='int64'),
 'Ilastilis78': Int64Index([601], dtype='int64'),
 'Ili43': Int64Index([144], dtype='int64'),
 'Ililsan66': Int64Index([672], dtype='int64'),
 'Ililsasya43': Int64Index([702], dtype='int64'),
 'Ilimya66': Int64Index([376], dtype='int64'),
 'Ilirrasda54': Int64Index([294, 718], dtype='int64'),
 'Ilista82': Int64Index([426], dtype='int64'),
 'Iljask75': Int64Index([750], dtype='int64'),
 'Ilmol66': Int64Index([339, 767], dtype='int64'),
 'Ilosia37': Int64Index([121, 526], dtype='int64'),
 'Ilosian36': Int64Index([769], dtype='int64'),
 'Ilosianya35': Int64Index([53], dtype='int64'),
 'Ilunyon70': Int64Index([550], dtype='int64'),
 'Ina92': Int64Index([474], dtype='int64'),
 'Inasti31': Int64Index([150, 268], dtype='int64'),
 'Inasuir29': Int64Index([667], dtype='int64'),
 'Indcil77': Int64Index([175], dtype='int64'),
 'Indirrian56': Int64Index([721], dtype='int64'),
 'Indonmol95': Int64Index([68], dtype='int64'),
 'Ingatcil75': Int64Index([492], dtype='int64'),
 'Inguron55': Int64Index([10, 132, 509], dtype='int64'),
 'Iral74': Int64Index([128, 623, 758, 776], dtype='int64'),
 'Iri67': Int64Index([137, 161, 551], dtype='int64'),
 'Irilis75': Int64Index([582], dtype='int64'),
 'Irillo49': Int64Index([434], dtype='int64'),
 'Irith83': Int64Index([765], dtype='int64'),
 'Irithlis29': Int64Index([80], dtype='int64'),
 'Iskadarya95': Int64Index([148, 247, 318], dtype='int64'),
 'Iskichinya81': Int64Index([112, 278], dtype='int64'),
 'Iskim66': Int64Index([649], dtype='int64'),
 'Iskim96': Int64Index([508], dtype='int64'),
 'Iskirra45': Int64Index([136], dtype='int64'),
 'Iskjaskst81': Int64Index([7, 168], dtype='int64'),
 'Iskosia90': Int64Index([4], dtype='int64'),
 'Iskosian40': Int64Index([600], dtype='int64'),
 'Iskossasda43': Int64Index([771], dtype='int64'),
 'Isri34': Int64Index([563, 660], dtype='int64'),
 'Isty55': Int64Index([742], dtype='int64'),
 'Isurria36': Int64Index([528], dtype='int64'),
 'Isursti83': Int64Index([386], dtype='int64'),
 'Isursuir31': Int64Index([248], dtype='int64'),
 'Ithergue48': Int64Index([2], dtype='int64'),
 'Itheria73': Int64Index([6], dtype='int64'),
 'Jeyciman68': Int64Index([35], dtype='int64'),
 'Jiskadarst60': Int64Index([545], dtype='int64'),
 'Jiskassa76': Int64Index([131], dtype='int64'),
 'Jiskimsda56': Int64Index([489], dtype='int64'),
 'Jiskimya77': Int64Index([61, 205], dtype='int64'),
 'Jiskirran77': Int64Index([228], dtype='int64'),
 'Jiskjask60': Int64Index([84], dtype='int64'),
 'Jiskjask80': Int64Index([774], dtype='int64'),
 'Jiskjask85': Int64Index([220], dtype='int64'),
 'Jiskossa61': Int64Index([69], dtype='int64'),
 'Laedallo55': Int64Index([88], dtype='int64'),
 'Lalossa38': Int64Index([663], dtype='int64'),
 'Lamil79': Int64Index([182, 695], dtype='int64'),
 'Lassadarsda57': Int64Index([558, 588], dtype='int64'),
 'Lassassasda30': Int64Index([394], dtype='int64'),
 'Lassassast73': Int64Index([269], dtype='int64'),
 'Lassilsala30': Int64Index([116, 511, 763], dtype='int64'),
 'Lassimla92': Int64Index([454, 593], dtype='int64'),
 'Lassirrasda85': Int64Index([567], dtype='int64'),
 'Lassjask63': Int64Index([174], dtype='int64'),
 'Lassjaskan73': Int64Index([106], dtype='int64'),
 'Layjask75': Int64Index([327], dtype='int64'),
 'Leetirraya83': Int64Index([530, 735], dtype='int64'),
 'Leyirra83': Int64Index([427, 608], dtype='int64'),
 'Liawista80': Int64Index([639], dtype='int64'),
 'Lirtassa52': Int64Index([165], dtype='int64'),
 'Lirtassan78': Int64Index([655], dtype='int64'),
 'Lirtastan49': Int64Index([213], dtype='int64'),
 'Lirtastsda29': Int64Index([240, 675], dtype='int64'),
 'Lirtastsya71': Int64Index([435, 708], dtype='int64'),
 'Lirtilsa71': Int64Index([246], dtype='int64'),
 'Lirtilsa72': Int64Index([320, 651], dtype='int64'),
 'Lirtim36': Int64Index([401], dtype='int64'),
 'Lirtimst73': Int64Index([160, 525], dtype='int64'),
 'Lirtirra37': Int64Index([265], dtype='int64'),
 'Lirtirra81': Int64Index([531], dtype='int64'),
 'Lirtistanya48': Int64Index([475, 691], dtype='int64'),
 'Lirtosia63': Int64Index([77, 770], dtype='int64'),
 'Lirtossa60': Int64Index([244, 682], dtype='int64'),
 'Lirtossa84': Int64Index([26, 299], dtype='int64'),
 'Lisadar44': Int64Index([190], dtype='int64'),
 'Lisasi93': Int64Index([139, 292], dtype='int64'),
 'Lisassa64': Int64Index([15], dtype='int64'),
 'Lisassala98': Int64Index([96], dtype='int64'),
 'Lisassasda39': Int64Index([659], dtype='int64'),
 'Lisassasta50': Int64Index([724], dtype='int64'),
 'Lisast87': Int64Index([129, 709], dtype='int64'),
 'Lisast98': Int64Index([592], dtype='int64'),
 'Lisico81': Int64Index([411], dtype='int64'),
 'Lisilsa62': Int64Index([712], dtype='int64'),
 'Lisim51': Int64Index([527, 604], dtype='int64'),
 'Lisim78': Int64Index([0, 67, 245], dtype='int64'),
 'Lisiriya82': Int64Index([412], dtype='int64'),
 'Lisirra25': Int64Index([16], dtype='int64'),
 'Lisirra58': Int64Index([641], dtype='int64'),
 'Lisirra87': Int64Index([25], dtype='int64'),
 'Lisista27': Int64Index([122], dtype='int64'),
 'Lisista54': Int64Index([238, 723], dtype='int64'),
 'Lisista63': Int64Index([328], dtype='int64'),
 'Lisjaskan36': Int64Index([751], dtype='int64'),
 'Lisjaskya84': Int64Index([192], dtype='int64'),
 'Lisopela58': Int64Index([170, 293, 472], dtype='int64'),
 'Lisosia66': Int64Index([334], dtype='int64'),
 'Lisosia93': Int64Index([74, 120, 224, 603, 609], dtype='int64'),
 'Lisossa25': Int64Index([338, 710], dtype='int64'),
 'Lisossa46': Int64Index([326], dtype='int64'),
 'Lisossala30': Int64Index([455], dtype='int64'),
 'Lisossanya98': Int64Index([127], dtype='int64'),
 'Lisotesta51': Int64Index([409], dtype='int64'),
 'Lisovynya38': Int64Index([1], dtype='int64'),
 'Malarrian73': Int64Index([547], dtype='int64'),
 'Malil90': Int64Index([362], dtype='int64'),
 'Malon70': Int64Index([488], dtype='int64'),
 'Maluncil97': Int64Index([549, 629], dtype='int64'),
 'Malunil62': Int64Index([188, 725], dtype='int64'),
 'Maradaran90': Int64Index([196], dtype='int64'),
 'Maradarnya40': Int64Index([707], dtype='int64'),
 'Marassa62': Int64Index([476], dtype='int64'),
 'Marast30': Int64Index([157], dtype='int64'),
 'Maridisya31': Int64Index([130], dtype='int64'),
 'Marilsa69': Int64Index([72, 579], dtype='int64'),
 'Marilsanya48': Int64Index([151], dtype='int64'),
 'Marilsasya33': Int64Index([399, 452], dtype='int64'),
 'Marim28': Int64Index([289, 418], dtype='int64'),
 'Marirrasta50': Int64Index([181], dtype='int64'),
 'Marjask87': Int64Index([152], dtype='int64'),
 'Marokian45': Int64Index([414], dtype='int64'),
 'Maropast28': Int64Index([102], dtype='int64'),
 'Marughi89': Int64Index([491], dtype='int64'),
 'Marundi65': Int64Index([737], dtype='int64'),
 'Marynde90': Int64Index([562, 624], dtype='int64'),
 'Meosridil82': Int64Index([522], dtype='int64'),
 'Mindadaran26': Int64Index([76], dtype='int64'),
 'Mindesi74': Int64Index([669, 694], dtype='int64'),
 'Mindetosya30': Int64Index([197], dtype='int64'),
 'Mindilsa34': Int64Index([306], dtype='int64'),
 'Mindilsa60': Int64Index([662], dtype='int64'),
 'Mindimnya67': Int64Index([646], dtype='int64'),
 'Mindirranya33': Int64Index([739], dtype='int64'),
 'Mindista32': Int64Index([179], dtype='int64'),
 'Mindjasksya61': Int64Index([752], dtype='int64'),

In [9]:
len(SN_groups)

576

In [10]:
cut_df = purchase_data.drop_duplicates("SN")
len(cut_df)

576

In [11]:
#     GENDER DEMOGRAPHICS

# Calculate count for each gender
male_count = 0
female_count = 0
other_count = 0

for gender in cut_df["Gender"]:
    if gender == "Male":
        male_count += 1
    if gender == "Female":
        female_count += 1
    if gender == "Other / Non-Disclosed":
        other_count += 1
    else: False
        
#Percentage and Count of Male Players
male_perc = str(round((male_count / len(cut_df) * 100), 2)) + "%"
#Percentage and Count of Female Players
female_perc = str(round((female_count / len(cut_df) * 100), 2)) + "%"
#Percentage and Count of Other / Non-Disclosed
other_perc = str(round((other_count / len(cut_df) * 100), 2)) + "%"

In [64]:
# initialise data of lists. 
data = {'Total Count':[male_count, female_count, other_count], 'Percentage of Players':[male_perc, female_perc, other_perc]} 
  
# Creates pandas DataFrame. 
df = pd.DataFrame(data, index =['Male', 'Female', 'Other / Non-Disclosed']) 
  
# print the data 
df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [73]:
price_data = purchase_data.groupby(["Gender"])

# Calculate purchase count for each gender

total_purchases = price_data.count()["Price"]
total_purchases

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [74]:
# Average Purchase Price for each gender

average_purchase_price = price_data.mean()["Price"].round(2)
average_purchase_price

Gender
Female                  $3.20
Male                    $3.02
Other / Non-Disclosed   $3.35
Name: Price, dtype: float64

In [75]:
# Calculate total purchase prices for each gender
total_spent = price_data.sum()["Price"]
total_spent

Gender
Female                    $361.94
Male                    $1,967.64
Other / Non-Disclosed      $50.19
Name: Price, dtype: float64

In [76]:
# Calculate Avg Total Purchase per Person for each gender
Total_Count = df["Total Count"]
avg_total_purchase = total_spent.divide(Total_Count).round(2)
avg_total_purchase

Female                  $4.47
Male                    $4.07
Other / Non-Disclosed   $4.56
dtype: float64

In [78]:
# initialise data of lists. 
data2 = {
    "Purchase Count":total_purchases, 
    "$""Average Purchase Price":average_purchase_price, 
    "Total Purchase Value":total_spent,
    "Avg Total Purchase per Person":avg_total_purchase
} 

# Creates pandas DataFrame. 
df2 = pd.DataFrame(data2, index =['Male', 'Female', 'Other / Non-Disclosed']) 
  
# print the data 
df2

,Purchase Count,$Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [17]:
# PURCHASING ANALYSIS (Gender)
summary2_df = summary_df[["Number of Purchases", "Average Price", "Total Revenue"]]
summary_renamed = summary2_df.rename(columns={
    "Number of Purchases": "Purchase Count", 
    "Average Price": "Average Purchase Price", 
    "Total Revenue": "Total Purchase Value"}
                                    )
summary_renamed

   Purchase Count Average Purchase Price Total Purchase Value
0             780                  $3.05             $2379.77

In [111]:
#AGE DEMOGRAPHICS
 
    
    
#Establish bins for ages
bins = [0,9,14,19,24,29,34,39,200]
labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
#Categorize the existing players using the age bins. Hint: use pd.cut()
cut_copy = cut_df.copy(deep=True)
cut_copy['Age Group'] = pd.cut(cut_copy['Age'], bins=bins, labels=labels)

#Calculate the numbers and percentages by age group

age_group = cut_copy.groupby('Age Group')
age_group_df = age_group.count()
Total_Age_Count = age_group_df['Age']

perc_age = (Total_Age_Count / len(cut_df)) * 100
perc_age

#Create a summary data frame to hold the results
data3 = {
    "Total Count":Total_Age_Count, 
    "Percentage of Players":perc_age
} 

age_summary_df = pd.DataFrame(data3, index = bins) 
age_summary_df
#Optional: round the percentage column to two decimal points


#Display Age Demographics Table

     Total Count  Percentage of Players
0           $nan                   $nan
9           $nan                   $nan
14          $nan                   $nan
19          $nan                   $nan
24          $nan                   $nan
29          $nan                   $nan
34          $nan                   $nan
39          $nan                   $nan
200         $nan                   $nan

In [ ]:
#PURCHASING ANALYSIS (Age)
 
#Bin the purchase_data data frame by age


#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

purchase_count2 = Gender_groups["SN"].count()
average_purchase_price2 = Gender_groups["Price"].mean()
total_purchase_value2 = '$' + str((Gender_groups["Price"].sum()))
#avg_purchse_per_person2 = Gender_groups[[total_purchase_value2 / purchase_count2]]


#Optional: give the displayed data cleaner formatting


#Display the summary data frame

In [ ]:
#Create a summary data frame to hold the results
purchasing_analysis_df2 = pd.DataFrame({
    'Purchase Count': [purchase_count2],
    'Average Purchase Price': [average_purchase_price2],
    'Total Purchase Value': [total_purchase_value2]
    #'Avg Purchse Per Person': [avg_purchse_per_person2]
    }
)

purchasing_analysis_df2

In [ ]:
#TOP SPENDERS



#Run basic calculations to obtain the results in the table below


#Create a summary data frame to hold the results
Purchase Count
Average Purchase Price
Total Purchase Value

#Sort the total purchase value column in descending order


#Optional: give the displayed data cleaner formatting


#Display a preview of the summary data frame

In [ ]:
#Most Popular Items
 
Retrieve the Item ID, Item Name, and Item Price columns


Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value

      Purchase Count
      Item Price
      Total Purchase Value

Create a summary data frame to hold the results


Sort the purchase count column in descending order


Optional: give the displayed data cleaner formatting


Display a preview of the summary data frame

In [ ]:
#Most Profitable Items
 
Sort the above table by total purchase value in descending order
Purchase Count
Item Price
Total Purchase Value

Optional: give the displayed data cleaner formatting


Display a preview of the data frame